#links {
	width: 11em;
	position: fixed;
	top: 5em;
}
#main {
	width: 45em;
	position: absolute;
	left: 13em;
	text-align: center;
}
#help_main {
	width: 31em;
	position: absolute;
	left: 20em;
	text-align: center;
}
table {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin: auto;
}
td {
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
}
a {
	text-decoration: none;
	color: #556f9f;
}
a:hover {
	text-decoration: underline;
}
ul {
	margin: 0px;
	margin-left: 1em;
	padding: 0px;
}
li {
	list-style-type: none;
}
p {
	text-align: justify;
}
